:root {
    --highlight-color: #ffc107;
    --highlight-color: #789abc;
    --highlight-color: var(--bs-cyan);
}

body {
    background: #e3e3e3;
}

a, a:focus, a:hover {
    text-decoration: none;
}

a {
    color: #333;
}

a:focus, a:hover {
    color: var(--highlight-color);
}

#wrapper {
    padding-right: 0;
    padding-left: 0;
    border: 1px solid red;
}

/**********
 * HEADER *
 **********/

/* logo */
nav.header h4.logo {
    margin-bottom: 0.25rem;
    color: #fff;
    opacity: 0.8;
}

nav.header h4.logo span.contrast {
    color: var(--highlight-color);
}

nav.header #toggle-search {
    margin: 0 0.5rem;
}

#search.hidden {
    display: none;
}
